<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <script>
      const ROOM_ID = "<%= roomId %>"
      let USER_NAME, USER_COLOR;
   </script>
   <link rel="icon" 
   type="image/png" 
   href="https://i.ytimg.com/vi/sRj1aZzwdL0/maxresdefault.jpg">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="pages/room/room.css">
   <link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
</head>
<header>
   <div class="chat-header">
      <h2 class="title">Friday Night Firefight Simulator / v0.1</h2>
      <button type="button" class="btn btn-danger close-chat">Close Chat</button>
      <button type="button" class="btn btn-primary open-chat inactive">Open Chat</button>
   </div>
</header>
<body>
   <div class="main">
      <div class="main-left">
         <div class="main-ground">
            <div class="goons">
               <button type="button" class="btn btn-dark add-button goon-btn">Add goon</button>
               <div class="goons-block">
                  <%if (room && room.goons.length > 0) { %>
                     <% for(var i=0; i < room.goons.length; i++) {%>
                        <div class="goon <%=i%>">
                           <input type="hidden" class="wound-level-number" value="<%=room.goons[i].woundLevel%>">
                           <div class="armor-block">
                              <input type="text" class="head" placeholder="Head Armor Value"  value="<%=room.goons[i].bodyStats.armor.head%>">
                              <input type="text" class="torso" placeholder="Torso Armor Value"  value="<%=room.goons[i].bodyStats.armor.torso%>">
                              <input type="text" class="r-arm" placeholder="R-arm Armor Value"  value="<%=room.goons[i].bodyStats.armor.rArm%>">
                              <input type="text" class="l-arm" placeholder="L-arm Armor Value"  value="<%=room.goons[i].bodyStats.armor.lArm%>">
                              <input type="text" class="r-leg" placeholder="R-leg Armor Value"  value="<%=room.goons[i].bodyStats.armor.rLeg%>">
                              <input type="text" class="l-leg" placeholder="L-leg Armor Value"  value="<%=room.goons[i].bodyStats.armor.lLeg%>">
                              <input type="text" class="head-hp hp" placeholder="Head hp Value"  value="<%=room.goons[i].bodyStats.limbs.head%>">
                              <input type="text" class="torso-hp hp" placeholder="Torso hp Value"  value="<%=room.goons[i].bodyStats.limbs.torso%>">
                              <input type="text" class="r-arm-hp hp" placeholder="R-arm hp Value"  value="<%=room.goons[i].bodyStats.limbs.rArm%>">
                              <input type="text" class="l-arm-hp hp" placeholder="L-arm hp Value"  value="<%=room.goons[i].bodyStats.limbs.lArm%>">
                              <input type="text" class="r-leg-hp hp" placeholder="R-leg hp Value"  value="<%=room.goons[i].bodyStats.limbs.rLeg%>">
                              <input type="text" class="l-leg-hp hp" placeholder="L-leg hp Value"  value="<%=room.goons[i].bodyStats.limbs.lLeg%>">
                              <img src="goon-icons/goon.png">
                              <div class="buttons-block">
                                 <button type="button" class="btn btn-danger remove-goon">Kill</button>
                                 <button type="button" class="btn btn-warning go-afk">AFK</button>
                                 <button type="button" class="btn btn-info reset-goon">Reset stats</button>
                              </div>
                           </div>
                           <div class="additional-info">
                              <h6 class="category-title">
                                 Wounds <i class="material-icons">replay</i>
                              </h6>
                              <div class="wounds-block">
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Light
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=0
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Serious
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-1
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Critical
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-2
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Mortal 0
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-3
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Mortal 1
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-4
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Mortal 2
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-5
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Mortal 3
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-6
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Mortal 4
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-7
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Mortal 5
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-8
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Mortal 6
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-9
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     <% } %>
                  <% } %>
               </div>
            </div>
            <div class="bois">
               <button type="button" class="btn btn-dark add-button boi-btn">Add boi</button>
               <div class="bois-block">
                  <%if (room && room.men.length > 0) { %>
                     <% for(var i=0; i < room.men.length; i++) {%>
                        <div class="boi <%=i%>">
                           <input type="hidden" class="wound-level-number" value="<%=room.men[i].woundLevel%>">
                           <div class="armor-block">
                              <input type="text" class="head" placeholder="Head Armor Value"  value="<%=room.men[i].bodyStats.armor.head%>">
                              <input type="text" class="torso" placeholder="Torso Armor Value"  value="<%=room.men[i].bodyStats.armor.torso%>">
                              <input type="text" class="r-arm" placeholder="R-arm Armor Value"  value="<%=room.men[i].bodyStats.armor.rArm%>">
                              <input type="text" class="l-arm" placeholder="L-arm Armor Value"  value="<%=room.men[i].bodyStats.armor.lArm%>">
                              <input type="text" class="r-leg" placeholder="R-leg Armor Value"  value="<%=room.men[i].bodyStats.armor.rLeg%>">
                              <input type="text" class="l-leg" placeholder="L-leg Armor Value"  value="<%=room.men[i].bodyStats.armor.lLeg%>">
                              <input type="text" class="head-hp hp" placeholder="Head hp Value"  value="<%=room.men[i].bodyStats.limbs.head%>">
                              <input type="text" class="torso-hp hp" placeholder="Torso hp Value"  value="<%=room.men[i].bodyStats.limbs.torso%>">
                              <input type="text" class="r-arm-hp hp" placeholder="R-arm hp Value"  value="<%=room.men[i].bodyStats.limbs.rArm%>">
                              <input type="text" class="l-arm-hp hp" placeholder="L-arm hp Value"  value="<%=room.men[i].bodyStats.limbs.lArm%>">
                              <input type="text" class="r-leg-hp hp" placeholder="R-leg hp Value"  value="<%=room.men[i].bodyStats.limbs.rLeg%>">
                              <input type="text" class="l-leg-hp hp" placeholder="L-leg hp Value"  value="<%=room.men[i].bodyStats.limbs.lLeg%>">
                              <img src="goon-icons/detective.png">
                              <div class="buttons-block">
                                 <button type="button" class="btn btn-danger remove-goon">Kill</button>
                                 <button type="button" class="btn btn-warning go-afk">AFK</button>
                                 <button type="button" class="btn btn-info reset-goon">Reset stats</button>
                              </div>
                           </div>
                           <div class="additional-info">
                              <h6 class="category-title">
                                 Wounds <i class="material-icons">replay</i>
                              </h6>
                              <div class="wounds-block">
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Light
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=0
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Serious
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-1
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Critical
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-2
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Mortal 0
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-3
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Mortal 1
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-4
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Mortal 2
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-5
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Mortal 3
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-6
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Mortal 4
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-7
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Mortal 5
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-8
                                    </div>
                                 </div>
                                 <div class="wound-block">
                                    <div class="wound-title">
                                       Mortal 6
                                    </div>
                                    <div class="wound-markers">
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                       <div class="wound-square"></div>
                                    </div>
                                    <div class="wound-hint">
                                       Stun=-9
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     <% } %>
                  <% } %>
               </div>
            </div>
         </div>
      </div>
      <div class="main-right">
         <div class="main-header">
            <h6>Chat</h6>
         </div>
         <div class="main-chat-window">
            <ul class="messages">
            </ul>
         </div>
         <div class="main-message-container">
            <input id="chat-input" type="text" placeholder="Type message here...">
         </div>
      </div>
   </div>
  <!-- Modal -->
   <div class="modal fade room-login" id="roomLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Get a name, punk!</h5>
            
         </div>
         <div class="modal-body">
            <div class="input-group mb-3">
               <input type="text" id="punkName" class="form-control" placeholder="Your room name" aria-label="Your room name" aria-describedby="basic-addon2">
             </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-danger connect-to-room">Connect to room</button>
         </div>
      </div>
      </div>
    </div>
   <!-- fonts -->
   <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
   <!-- libs -->
   <script src="libs/jquery-3.5.1.min.js"></script>
   <script src="libs/bootstrap/bootstrap.min.js"></script>
   <script src="libs/socket.io.js"></script>
   <!-- page -->
   <script src="pages/room/room.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
</body>
</html>
