<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <script>
      const ROOM_ID = "<%= roomId %>"
      let AIM_MODS = "<%= JSON.stringify(aimMods) %>"
   </script>   
   <link rel="icon" 
   type="image/png" 
   href="https://i.ytimg.com/vi/sRj1aZzwdL0/maxresdefault.jpg">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="pages/room/room.css">
   <link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
   <link rel="stylesheet" href="libs/toast/jquery.toast.min.css">
</head>
<header>
   <div class="chat-header">
      <h2 class="title">Friday Night Firefight Simulator / v1.5.2</h2>
      <div class="header-buttons">
         <button type="button" class="btn btn-danger close-chat inactive">Close Chat</button>
         <button type="button" class="btn btn-primary open-chat">Open Chat</button>
      </div>
   </div>
</header>
<body>
   <div class="main">
      <div class="main-left full-width">
         <div class="main-ground">
            <div class="people-title">
               <h2>Goons Locker Room</h2>
            </div>
            <div class="people">
               <div class="goons">
                  <div class="goons-buttons">
                     <button type="button" class="btn btn-dark add-button add-goon"><i class="material-icons">add_circle</i> Add goon</button>
                     <button type="button" class="btn btn-warning export-goons"><i class="material-icons">file_upload</i> Export Goon Pack</button>
                     <button type="button" class="btn btn-success import-goons"><i class="material-icons">download</i> Import Goons</button>
                  </div>
                  <div class="goons-block">
                     <%if (room && room.goons.length > 0) { %>
                        <% for(var i=0; i < room.goons.length; i++) {%>
                           <div class="goon <%=i%>">
                              <input type="hidden" class="wound-level-number" value="<%=room.goons[i].woundLevel%>">
                              <div class="left-info">
                                 <div class="armor-block">
                                    <img class="shooter-selector" src="goon-icons/action-icons/gun.svg"/>
                                    <img class="target-selector" src="goon-icons/action-icons/target.svg"/>
                                    <input type="number" class="head" placeholder="Head Armor Value"  value="<%=room.goons[i].bodyStats.armor.head%>">
                                    <input type="number" class="torso" placeholder="Torso Armor Value"  value="<%=room.goons[i].bodyStats.armor.torso%>">
                                    <input type="number" class="r-arm" placeholder="R-arm Armor Value"  value="<%=room.goons[i].bodyStats.armor.rArm%>">
                                    <input type="number" class="l-arm" placeholder="L-arm Armor Value"  value="<%=room.goons[i].bodyStats.armor.lArm%>">
                                    <input type="number" class="r-leg" placeholder="R-leg Armor Value"  value="<%=room.goons[i].bodyStats.armor.rLeg%>">
                                    <input type="number" class="l-leg" placeholder="L-leg Armor Value"  value="<%=room.goons[i].bodyStats.armor.lLeg%>">
                                    <input type="text" class="head-hp hp" placeholder="Head hp Value"  value="<%=room.goons[i].bodyStats.limbs.head%>">
                                    <input type="text" class="torso-hp hp" placeholder="Torso hp Value"  value="<%=room.goons[i].bodyStats.limbs.torso%>">
                                    <input type="text" class="r-arm-hp hp" placeholder="R-arm hp Value"  value="<%=room.goons[i].bodyStats.limbs.rArm%>">
                                    <input type="text" class="l-arm-hp hp" placeholder="L-arm hp Value"  value="<%=room.goons[i].bodyStats.limbs.lArm%>">
                                    <input type="text" class="r-leg-hp hp" placeholder="R-leg hp Value"  value="<%=room.goons[i].bodyStats.limbs.rLeg%>">
                                    <input type="text" class="l-leg-hp hp" placeholder="L-leg hp Value"  value="<%=room.goons[i].bodyStats.limbs.lLeg%>">
                                    <img src="goon-icons/goon.png">
                                    <div class="buttons-block">
                                       <button type="button" class="btn btn-danger remove-goon">Kill</button>
                                       <button type="button" class="btn btn-warning go-afk">AFK</button>
                                       <button type="button" class="btn btn-info reset-goon">Reset stats</button>
                                    </div>
                                    
                                 </div>
                                 <div class="personal-info">
                                    <h6 class="category-title personal-title">
                                       Personal Info <i class="material-icons">control_point</i>
                                    </h6>
                                    <div class="personal-stats">
                                       <div class="form-group fighter-stat-row">
                                          <label for="goon-name">NAME</label>
                                          <input type="text" class="form-control goon-name" aria-describedby="name-hint" placeholder="NAME" value="<%=room.goons[i].additionalStats.name%>" data-initial-value="<%=room.goons[i].additionalStats.name%>">
                                          <small id="name-hint" class="form-text text-muted">You were 0 and still...</small>
                                       </div>
                                       <h6 class="category-title personal-title aim-mods-title">
                                          Fast Aim Modifiers <i class="material-icons">control_point</i>
                                       </h6>
                                       <div class="form-group aim-modifiers-list">
                                          <% for(var mod in aimMods) {%>
                                             <div class="modifier <%= room.goons[i].fightStats.selectedMods.includes(mod) ? 'active' : ''  %>" id="<%=mod%>">
                                                <div class="modifier-text">
                                                   <%=mod%>
                                                </div>
                                                <div class="modifier-value">
                                                   <%=aimMods[mod]%>
                                                </div>
                                             </div>
                                          <% } %>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="additional-info">
                                 <h6 class="category-title">
                                    Wounds <i class="material-icons reset-wounds">replay</i>
                                 </h6>
                                 <div class="wounds-block">
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Light
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=0
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Serious
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-1
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Critical
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-2
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Mortal 0
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-3
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Mortal 1
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-4
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Mortal 2
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-5
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Mortal 3
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-6
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Mortal 4
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-7
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Mortal 5
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-8
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Mortal 6
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-9
                                       </div>
                                    </div>
                                 </div>
                                 <h6 class="category-title">
                                    Fighter Stats <i class="material-icons">control_point</i>
                                 </h6>
                                 <div class="fighter-stats">
                                    <div class="form-group fighter-stat-row">
                                       <label for="ref">REF</label>
                                       <input type="number" class="form-control ref" aria-describedby="ref-hint" placeholder="REF" value="<%=room.goons[i].fightStats.ref%>">
                                       <small id="ref-hint" class="form-text text-muted">Better fast, than dead..</small>
                                    </div>
                                    <div class="form-group fighter-stat-row">
                                       <label for="body">BODY</label>
                                       <input type="number" class="form-control body" aria-describedby="body-hint" placeholder="BODY" value="<%=room.goons[i].fightStats.body%>">
                                       <small id="body-hint" class="form-text text-muted">Healthy body, healthy mind...</small>
                                    </div>
                                    <div class="form-group fighter-stat-row">
                                       <label for="btm">BTM</label>
                                       <input type="number" class="form-control btm" aria-describedby="btm-hint" placeholder="BTM" value="<%=room.goons[i].fightStats.btm%>">
                                       <small id="btm-hint" class="form-text text-muted">Being spongy doesn't hurt at all.</small>
                                    </div>
                                    <div class="form-group fighter-stat-row">
                                       <label for="wpn">Weapon Skill</label>
                                       <input type="number" class="form-control wpn" aria-describedby="wpn-hint" placeholder="Weapon Skill" value="<%=room.goons[i].fightStats.wpn%>">
                                       <small id="wpn-hint" class="form-text text-muted">One good shot can solve any problem.</small>
                                    </div>
                                    <div class="form-group fighter-stat-row">
                                       <label for="def">Defensive Skill</label>
                                       <input type="number" class="form-control def" aria-describedby="def-hint" placeholder="Defensive Skill" value="<%=room.goons[i].fightStats.def%>">
                                       <small id="def-hint" class="form-text text-muted">(Athletics/Parry/Blocking/Brawling, etc.)</small>
                                    </div>
                                    <div class="form-group fighter-stat-row">
                                       <label for="mods">Other Aim Modifiers</label>
                                       <input type="text" class="form-control mods" aria-describedby="mods-hint" placeholder="Mods" value="<%=room.goons[i].fightStats.mods%>">
                                       <small id="mods-hint" class="form-text text-muted">Write mods with "space" button. For instance : -1 2 -3.</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        <% } %>
                     <% } %>
                  </div>
               </div>
               <div class="bois">
                  <div class="bois-buttons">
                     <button type="button" class="btn btn-dark add-button add-boi"><i class="material-icons">add_circle</i> Add boi</button>
                     <button type="button" class="btn btn-secondary export-bois"><i class="material-icons">file_upload</i> Export Boiiii Pack</button>
                     <button type="button" class="btn btn-secondary import-bois"><i class="material-icons">download</i> Import Bois</button>
                  </div>
                  
                  <div class="bois-block">
                     <%if (room && room.men.length > 0) { %>
                        <% for(var i=0; i < room.men.length; i++) {%>
                           <div class="boi <%=i%>">
                              <input type="hidden" class="wound-level-number" value="<%=room.men[i].woundLevel%>">
                              <div class="left-info">
                                 <div class="armor-block">
                                    <img class="shooter-selector" src="goon-icons/action-icons/gun.svg"/>
                                    <img class="target-selector" src="goon-icons/action-icons/target.svg"/>
                                    <input type="number" class="head" placeholder="Head Armor Value"  value="<%=room.men[i].bodyStats.armor.head%>">
                                    <input type="number" class="torso" placeholder="Torso Armor Value"  value="<%=room.men[i].bodyStats.armor.torso%>">
                                    <input type="number" class="r-arm" placeholder="R-arm Armor Value"  value="<%=room.men[i].bodyStats.armor.rArm%>">
                                    <input type="number" class="l-arm" placeholder="L-arm Armor Value"  value="<%=room.men[i].bodyStats.armor.lArm%>">
                                    <input type="number" class="r-leg" placeholder="R-leg Armor Value"  value="<%=room.men[i].bodyStats.armor.rLeg%>">
                                    <input type="number" class="l-leg" placeholder="L-leg Armor Value"  value="<%=room.men[i].bodyStats.armor.lLeg%>">
                                    <input type="text" class="head-hp hp" placeholder="Head hp Value"  value="<%=room.men[i].bodyStats.limbs.head%>">
                                    <input type="text" class="torso-hp hp" placeholder="Torso hp Value"  value="<%=room.men[i].bodyStats.limbs.torso%>">
                                    <input type="text" class="r-arm-hp hp" placeholder="R-arm hp Value"  value="<%=room.men[i].bodyStats.limbs.rArm%>">
                                    <input type="text" class="l-arm-hp hp" placeholder="L-arm hp Value"  value="<%=room.men[i].bodyStats.limbs.lArm%>">
                                    <input type="text" class="r-leg-hp hp" placeholder="R-leg hp Value"  value="<%=room.men[i].bodyStats.limbs.rLeg%>">
                                    <input type="text" class="l-leg-hp hp" placeholder="L-leg hp Value"  value="<%=room.men[i].bodyStats.limbs.lLeg%>">
                                    <img src="goon-icons/detective.png">
                                    <div class="buttons-block">
                                       <button type="button" class="btn btn-danger remove-goon">Kill</button>
                                       <button type="button" class="btn btn-warning go-afk">AFK</button>
                                       <button type="button" class="btn btn-info reset-goon">Reset stats</button>
                                    </div>
                                 </div>
                                 <div class="personal-info">
                                    <h6 class="category-title personal-title">
                                       Personal Info <i class="material-icons">control_point</i>
                                    </h6>
                                    <div class="personal-stats">
                                       <div class="form-group fighter-stat-row">
                                          <label for="goon-name">NAME</label>
                                          <input type="text" class="form-control goon-name" aria-describedby="name-hint" placeholder="NAME" value="<%=room.men[i].additionalStats.name%>" data-initial-value="<%=room.men[i].additionalStats.name%>">
                                          <small id="name-hint" class="form-text text-muted">You were 0 and still...</small>
                                       </div>
                                       <h6 class="category-title personal-title aim-mods-title">
                                          Fast Aim Modifiers <i class="material-icons">control_point</i>
                                       </h6>
                                       <div class="form-group aim-modifiers-list">
                                          <% for(var mod in aimMods) {%>
                                             <div class="modifier <%= room.men[i].fightStats.selectedMods.includes(mod) ? 'active' : ''  %>" id="<%=mod%>">
                                                <div class="modifier-text">
                                                   <%=mod%>
                                                </div>
                                                <div class="modifier-value">
                                                   <%=aimMods[mod]%>
                                                </div>
                                             </div>
                                          <% } %>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="additional-info">
                                 <h6 class="category-title">
                                    Wounds <i class="material-icons reset-wounds">replay</i>
                                 </h6>
                                 <div class="wounds-block">
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Light
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=0
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Serious
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-1
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Critical
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-2
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Mortal 0
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-3
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Mortal 1
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-4
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Mortal 2
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-5
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Mortal 3
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-6
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Mortal 4
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-7
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Mortal 5
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-8
                                       </div>
                                    </div>
                                    <div class="wound-block">
                                       <div class="wound-title">
                                          Mortal 6
                                       </div>
                                       <div class="wound-markers">
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                          <div class="wound-square"></div>
                                       </div>
                                       <div class="wound-hint">
                                          Stun=-9
                                       </div>
                                    </div>
                                 </div>
                                 <h6 class="category-title">
                                    Fighter Stats <i class="material-icons">control_point</i>
                                 </h6>
                                 <div class="fighter-stats">
                                    <div class="form-group fighter-stat-row">
                                       <label for="ref">REF</label>
                                       <input type="number" class="form-control ref" aria-describedby="ref-hint" placeholder="REF" value="<%=room.men[i].fightStats.ref%>">
                                       <small id="ref-hint" class="form-text text-muted">Better fast, than dead..</small>
                                    </div>
                                    <div class="form-group fighter-stat-row">
                                       <label for="body">BODY</label>
                                       <input type="number" class="form-control body" aria-describedby="body-hint" placeholder="BODY" value="<%=room.men[i].fightStats.body%>">
                                       <small id="body-hint" class="form-text text-muted">Healthy body, healthy mind...</small>
                                    </div>
                                    <div class="form-group fighter-stat-row">
                                       <label for="btm">BTM</label>
                                       <input type="number" class="form-control btm" aria-describedby="btm-hint" placeholder="BTM" value="<%=room.men[i].fightStats.btm%>">
                                       <small id="btm-hint" class="form-text text-muted">Being spongy doesn't hurt at all.</small>
                                    </div>
                                    <div class="form-group fighter-stat-row">
                                       <label for="wpn">Weapon Skill</label>
                                       <input type="number" class="form-control wpn" aria-describedby="wpn-hint" placeholder="Weapon Skill" value="<%=room.men[i].fightStats.wpn%>">
                                       <small id="wpn-hint" class="form-text text-muted">One good shot can solve any problem.</small>
                                    </div>
                                    <div class="form-group fighter-stat-row">
                                       <label for="def">Defensive Skill</label>
                                       <input type="number" class="form-control def" aria-describedby="def-hint" placeholder="Defensive Skill" value="<%=room.men[i].fightStats.def%>">
                                       <small id="def-hint" class="form-text text-muted">(Athletics/Parry/Blocking/Brawling, etc.)</small>
                                    </div>
                                    <div class="form-group fighter-stat-row">
                                       <label for="mods">Other Aim Modifiers</label>
                                       <input type="text" class="form-control mods" aria-describedby="mods-hint" placeholder="Mods" value="<%=room.men[i].fightStats.mods%>">
                                       <small id="mods-hint" class="form-text text-muted">Write mods with "space" button. For instance : -1 2 -3.</small>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        <% } %>
                     <% } %>
                  </div>
               </div>
            </div>
            <div class="battle-title">
               <button class="btn btn-danger battle-mode-switcher melee-switch">Melee Mode</button>
               <button class="btn btn-primary battle-mode-switcher ranged-switch inactive">Range Mode</button>
               <h2>Firefight Ground</h2>
            </div>
            <div class="battle-ground">
               <div class="battle-block">
                  <div class="fire-block step1">
                     <div class="fire-step-title">
                        <h4>1) Who is the Shooter</h4>
                     </div>
                     <div class="fire-step-block">
                        <select class="custom-select target-select shooter">
                           <option selected value="">Asignee</option>
                           <% for(var i=0; i < room.goons.length; i++) {%>
                              <option value="goon-<%=i%>"><%= room.goons[i].additionalStats.name ? room.goons[i].additionalStats.name : 'Goon ' + i  %></option>
                           <%}%>
                           <% for(var i=0; i < room.men.length; i++) {%>
                              <option value="boi-<%=i%>"><%= room.men[i].additionalStats.name ? room.men[i].additionalStats.name : 'Boi ' + i  %></option>
                           <%}%>
                        </select>
                     </div>
                  </div>
                  <div class="fire-block step2">
                     <div class="fire-step-title">
                        <h4>2) Someone has to get this shot</h4>
                     </div>
                     <div class="fire-step-block">
                        <select class="custom-select target-select target">
                           <option selected value="">Asignee</option>
                           <% for(var i=0; i < room.goons.length; i++) {%>
                              <option value="goon-<%=i%>"><%= room.goons[i].additionalStats.name ? room.goons[i].additionalStats.name : 'Goon ' + i  %></option>
                           <%}%>
                           <% for(var i=0; i < room.men.length; i++) {%>
                              <option value="boi-<%=i%>"><%= room.men[i].additionalStats.name ? room.men[i].additionalStats.name : 'Boi ' + i  %></option>
                           <%}%>
                        </select>
                     </div>
                  </div>
                  <div class="fire-block step3 ranged">
                     <div class="fire-step-title">
                        <h4>3) Does victim have a cover?</h4>
                     </div>
                     <div class="fire-step-block">
                        <input type="number" class="cover-value" placeholder="Cover Value"  value="0">
                     </div>
                  </div>
                  <div class="fire-block step3 melee inactive">
                     <div class="fire-step-title">
                        <h4>3) Shooter Melee mod:</h4>
                     </div>
                     <div class="fire-step-block">
                        <select class="custom-select melee-fire-mod">
                           <option selected value="">Fire Mod</option>
                           <option value="fist">Fisting Club/ Brawling/ Martial Arts</option>
                           <option value="melee">Handled weapon (Clubs, Swords, etc.)</option>
                           <option value="melee-katana">Mono-Katana/Mono-Knive</option>
                        </select>
                        <select class="custom-select melee-fist-type">
                           <option selected value="">Fisting Club/ Brawling/ Martial Arts</option>
                           <option value="strike">Strike</option>
                           <option value="kick">Kick</option>
                           <option value="disarm">Disarm</option>
                           <option value="throw">Throw</option>
                           <option value="hold">Hold</option>
                           <option value="choke">Choke</option>
                           <option value="trip">Swip/Trip</option>
                           <option value="grapple">Grapple</option>
                        </select>
                     </div>
                  </div>
                  <div class="fire-block step4 ranged">
                     <div class="fire-step-title">
                        <h4>4) Now let's make a lot of damage</h4>
                     </div>
                     <div class="fire-step-block">
                        <select class="custom-select fire-mod">
                           <option selected value="">Fire Mod</option>
                           <option value="single">Single</option>
                           <option value="three-round">Three Round Burst</option>
                           <option value="full-auto">Full Auto</option>
                        </select>
                        <select class="custom-select called-shot">
                           <option selected value="">Called Shot</option>
                           <option value="head">Head</option>
                           <option value="torso">Torso</option>
                           <option value="rArm">Right Arm</option>
                           <option value="lArm">Left Arm</option>
                           <option value="rLeg">Right Leg</option>
                           <option value="lLeg">Left Leg</option>
                        </select>
                        <select class="custom-select range">
                           <option selected value="">Range</option>
                           <option value="close">Close</option>
                           <option value="medium">Medium</option>
                           <option value="long">Long</option>
                           <option value="extreme">Extreme</option>
                        </select>
                        <select class="custom-select ap">
                           <option value="">Not AP rounds( ͡° ͜ʖ ͡°)</option>
                           <option value="ap">AP rounds</option>
                           <option value="shotgun-ap-soft">shotgun AP slugs (hitting soft armor)</option>
                           <option value="shotgun-ap-hard">shotgun AP slugs (hitting hard armor)</option>
                        </select>
                        <input type="text" class="wpn-dmg" placeholder="Weapon damage"  value="">
                        <input type="text" class="wpn-acc" placeholder="Weapon ACC modifier"  value="">
                        <input type="text" class="wpn-bullets" placeholder="Bullets number"  value="">
                     </div>
                  </div>
                  <div class="fire-block step4 melee inactive">
                     <div class="fire-step-title">
                        <h4>4) Now let's make a lot of damage</h4>
                     </div>
                     <div class="fire-step-block">
                        <select class="custom-select called-shot-melee">
                           <option selected value="">Called Shot</option>
                           <option value="head">Head</option>
                           <option value="torso">Torso</option>
                           <option value="rArm">Right Arm</option>
                           <option value="lArm">Left Arm</option>
                           <option value="rLeg">Right Leg</option>
                           <option value="lLeg">Left Leg</option>
                        </select>
                        <select class="custom-select defender-action">
                           <option selected value="">Defender Action</option>
                           <option value="stand">Stand Still (evading passively)</option>
                           <option value="evade">Evade</option>
                           <option value="parry">Parry</option>
                           <option value="escape">Escape</option>
                        </select>
                        <select class="custom-select defender-armor">
                           <option selected value="">Defender Armor</option>
                           <option value="Hard">Hard (Metal etc.)</option>
                           <option value="Soft">Sofr (Kevlar etc.)</option>
                        </select>
                        <select class="custom-select parry-option">
                           <option selected value="">Parry With Selector</option>
                           <option value="melee">Handled weapon (Clubs, Swords, etc.)</option>
                           <option value="melee-katana">Mono-Katana/Mono-Knive</option>
                           <option value="head">Head</option>
                           <option value="torso">Torso</option>
                           <option value="rArm">Right Arm</option>
                           <option value="lArm">Left Arm</option>
                           <option value="rLeg">Right Leg</option>
                           <option value="lLeg">Left Leg</option>

                        </select>
                        <input type="text" class="wpn-dmg-melee" placeholder="Weapon damage"  value="">
                        <input type="text" class="wpn-acc-melee" placeholder="Weapon ACC modifier"  value="">
                        <input type="text" class="wpn-hits-melee" placeholder="Hits number"  value="">
                     </div>
                  </div>
                  <div class="fire-block step5">
                     <div class="fire-step-title">
                        <h4>5) Let Dungeon Master set the complexity of shot</h4>
                     </div>
                     <div class="fire-step-block">
                        <input type="number" class="complexity-value" placeholder="Show complexity"  value="0">
                     </div>
                  </div>
                  <button type="button" class="btn btn-danger rumble-button">Let's rumble</button>
                  <div class="fire-block step6">
                     <div class="fire-step-title">
                        <h4>6) Let`s have a look on the Battle Log</h4>
                     </div>
                     <div class="fire-step-block">
                        <div class="form-control" id="battleLog">
                           <ul class="logs">

                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="main-right inactive">
         <div class="main-header">
            <h6>Chat</h6>
         </div>
         <div class="main-chat-window">
            <ul class="messages">
            </ul>
         </div>
         <div class="main-message-container">
            <input id="chat-input" type="text" placeholder="Type message here...">
         </div>
      </div>
   </div>
  <!-- Modal -->
   <div class="modal fade room-login" id="roomLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Get a name, punk!</h5>
            
         </div>
         <div class="modal-body">
            <div class="input-group mb-3">
               <input type="text" id="punkName" class="form-control" placeholder="Your room name" aria-label="Your room name" aria-describedby="basic-addon2">
             </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-danger connect-to-room">Connect to room</button>
         </div>
      </div>
      </div>
    </div>
   <!-- fonts -->
   <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
   <!-- libs -->
   <script src="libs/jquery-3.5.1.min.js"></script>
   <script src="libs/bootstrap/bootstrap.min.js"></script>
   <script src="libs/toast/jquery.toast.min.js"></script>
   <script src="libs/socket.io.js"></script>
   <!-- page -->
   <script src="pages/room/room.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
</body>
</html>
